fastapi==0.100.0
uvicorn[standard]==0.20.0
python-dotenv==1.0.0
sqlalchemy==1.4.47
alembic==1.8.0
passlib[bcrypt]==1.7.4
PyJWT==2.6.0
pdfkit==1.0.0
jinja2==3.1.2
prometheus-fastapi-instrumentator==5.9.0
psycopg2-binary==2.9.6
